/* Custom Fonts */
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}




/* General Styles */
*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body{
  background: black !important;
  color: white !important;
  font-family: Centra !important;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}


a, p, li, ul{
  padding: 0 !important;
  margin: 0 !important;
  text-transform: none;
}

button{
  padding: 18px;
  background: transparent ;
  border: 1px solid white;
  color: white;
}

img{
  height: auto;
  width: 100%;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.App{
  height: 150vh;
}


.danger{
  background: white;
  color: red;
}

.ok{
  background: white;
  color: green;
}